<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HDR Emoji Maker</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="container">
        <h1>HDR Emoji Maker</h1>
        <div class="notification">
            <p>Note: For the full HDR glowing effect, please download the '2020_profile.icc' color profile and place it in the 'assets' directory.</p>
        </div>
        <div class="upload-section">
            <div class="upload-input">
                <input type="file" id="imageUpload" accept="image/*">
            </div>
        </div>
        <div class="canvas-section">
            <canvas id="drawingCanvas"></canvas>
            <div class="controls">
                <button id="download" style="display: inline-block; background-color: gray; cursor: not-allowed;" disabled>Download Processed Image</button>
                <span id="downloadStatus" style="display: none;">Download started...</span>
            </div>
        </div>
    </div>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html> 